<h1>Create a New Post</h1>
<a href="<%= sub_url(@sub) %>">Back to <%= @sub.title %></a>
<form class="" action="<%= sub_posts_url(@sub) %>" method="post">
  <%= auth_token %>
  <label for="Title">Title</label>
  <input id="Title" type="text" name="post[title]" value="<%= @post.title if @post %>">
  <label for="URL">URL</label>
  <input id="URL" type="text" name="post[url]" value="<%= @post.url if @post %>">
  <label for="Content">Content</label>
  <input id="Content" type="text" name="post[content]" value="<%= @post.content if @post %>">
  <input type="submit" name="" value="Create Post">
</form>